* {
  margin: 0;
  padding: 0;
}

html {
  background: #f3f1ef;
  box-sizing: border-box;
}



.below-nav{
  background-image: url("https://images.pexels.com/photos/1601217/pexels-photo-1601217.jpeg");
  position: static;
  background-size: cover;
  width: 100%;
  height: 75vh;
}

.contain{
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.news-letter {
  text-align: center;
}

.word-on-image {
  text-align: center;
}

.image-word {
  color: #ececec;
  font-size: 18vh;
  padding-top: 150px;
  font-family: 'Limelight', cursive;
}

.box-control {
  margin-top: 30px;
  width: 100%;
  height: 75vh;
  text-align: center;
  background-color: #c1c2bc;
}

.dronesT {
  margin-top: 5px;
  border: 1px solid #c1c2bc;
  display: inline-block;
  color: white;
  padding: 2px 5px 2px 5px;
}


/* NewsLetter Design */

.emailaddress {
  display: block;
  text-align: center;
  height: 20vh;
  margin: 20px 0 20px 0;
}




.email-form input[type='text'] {
  margin-top: 10px;
  margin-right: 10px;
}


.email-name input[type=text] {
  margin-right: 15px;
}

.mailist-leb {
  margin-right: 5px;
}

.mailist-submit {
  display: inline-block;
  /* border: 1px solid black; */
  width: 130px;
  height: 4vh;
  font-size: 20px;
  margin: 5px 0 3px 0;
  background-color: #1da1f2;
  border-radius: 3px;
}

.mailist-submit:hover {
  background-color: #1081af;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease-in-out;
}
