* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .center-box {
  background: #8797AB;
  padding: 40px;
} */

.foot-main {
  display: flex;
  background-color: #1da1f2;
  height: 20vh;
}
/* Login Page CSS */

/* Footer CSS */

.loc {
  width: 32%;
  color: white;
  text-align: center;
  padding-top: 20px;
}


.form-address {
  display: inline-flex;
}

/* NewsLetter */

.emailaddress {
  display: flex;
}


.email-form {
}

@media screen and (max-width: 200px) {
  .foot-main{
    height: 30vh;
  }
}
